<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login User</title>
    <link href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/todo/list">Todo</a>
                                </li>
                            </ul>
                            <a href="/user/login" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Login User</h1>
            </div>
            <div class="col-4"></div>
            <div class="col-4 border rounded-3 bg-light mt-3">
                <form class="row g-3 p-3" action="/user/login-submit" method="post">
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="abc123@gmail.com"
                            value="<%= '' || email%>">
                        <% if(errors && errors.email) { %>
                            <span class="text-danger">
                                <%= errors.email.msg %>
                            </span>
                            <% } %>
                    </div>
                    <div class="col">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            value="<%=password || ''%>">
                        <% if(errors && errors.password) { %>
                            <span class="text-danger">
                                <%= errors.password.msg %>
                            </span>
                            <% } %>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary form-control">Login</button>
                    </div>
                    <div class="col-12">
                        <a href="/user/register" style="text-decoration: none;">Don't have an account? Register </a>
                    </div>
                    <div class="col">
                        <a href="/user/check-email" style="text-decoration: none;">Forgot password ?</a>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

</html>